@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FFFBEB; /* yellow-50 */
  --foreground: #171717;
  --primary-red: #E60000;
  --accent-gold: #FFD700;
  --tears-blue: #3FB1CE;
}

@layer utilities {
  .text-outline {
    text-shadow: 2px 2px 0px #000;
  }
  .text-outline-lg {
    text-shadow: 4px 4px 0px #000;
  }
}

body {
  font-family: var(--font-paytone), sans-serif;
  color: var(--foreground);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-sigmar), cursive;
}
